@using PersianNov.DataStructure.Tools;
@model IEnumerable<PersianNov.DataStructure.Book>
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div id="scroll-wrap" class="container">
    <div class="main">
        @if (Model.Count() > 0)
        {

            var i = 1;
            <div id="bookshelf" class="bookshelf">
                @{

                    foreach (var item in Model)
                    {
                        <figure data-id="@item.Id" data-index="@i">
                            <a href="/رمان-فارسی/@item.Name.SlugMaker()">
                                <div class="perspective">
                                    <div class="book" data-book="book-@i">
                                        <div class="cover">
                                            <div class="front" style="background: url(/File/ShowImage/@item.Image);">
                                            </div>
                                            <div class="inner inner-left">
                                            </div>
                                        </div>
                                        <div class="inner inner-right">

                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="buttons">
                                <a href="/رمان-فارسی/@item.Name.SlugMaker()">الان بخون</a>
                                <a href="#">جزئیات</a>
                            </div>
                            <figcaption>
                                <h2>
                                    <a href="/رمان-فارسی/@item.Name.SlugMaker()">
                                        @item.Name
                                    </a>
                                    <span>
                                        @(item.Author!=null? $"{item.Author.FirstName} {item.Author.LastName}":"")
                                    </span>
                                </h2>
                            </figcaption>
                            <div class="details">
                                <ul>
                                    <li>
                                        @item.Subject
                                    </li>
                                    <li>
                                        @(item.Publisher!=null?item.Publisher.Name:!string.IsNullOrEmpty(item.PublisherName)?item.PublisherName:"")
                                    </li>
                                    <li>@item.PublishDate</li>
                                    <li>@item.PageCount صفحه</li>
                                </ul>
                            </div>
                        </figure>
                        i++;
                    }
                }


            </div>


        }
        else
        {
            <div class="text-center text-white">
                کتابی جهت نمایش یافت نشد
            </div>
        }
    </div>
</div>