@model IEnumerable<PersianNov.DataStructure.Book>
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div id="scroll-wrap" class="container">
    <div class="main">
        @if (Model.Count() > 0)
        {

            var i = 1;
            <div id="bookshelf" class="bookshelf">
                @{

                    foreach (var item in Model)
                    {
                        <figure>
                            <div class="book" data-book="book-@i"></div>
                            <div class="buttons">
                                <a href="#">الان بخون</a>
                                <a href="#">جزئیات</a>
                            </div>
                            <figcaption>
                                <h2>
                                    @item.Name
                                    <span>
                                        @(item.Author!=null? $"{item.Author.FirstName} {item.Author.LastName}":"")
                                    </span>
                                </h2>
                            </figcaption>
                            <div class="details">
                                <ul>
                                    <li>
                                        @item.Subject
                                    </li>
                                    <li>
                                        @(item.Publisher!=null?item.Publisher.Name:!string.IsNullOrEmpty(item.PublisherName)?item.PublisherName:"")
                                    </li>
                                    <li>@item.PublishDate</li>
                                    <li>@item.PageCount صفحه</li>
                                </ul>
                            </div>
                        </figure>
                        i++;
                    }
                    i = 1;
                }


            </div>

            foreach (var item in Model)
            {
                <div class="bb-custom-wrapper" id="book-@i">
                    <div class="bb-bookblock">
                        <div class="bb-item">
                            <div class="bb-custom-side page-layout-3">
                                <div>
                                    <h3>@item.Name</h3>
                                    <p>
                                        @(item.Author!=null?$"{item.Author.FirstName} {item.Author.LastName}":"")
                                    </p>
                                </div>
                            </div>
                            <div class="bb-custom-side page-layout-3">
                            </div>
                        </div>
                        <div class="bb-item">
                            <div class="bb-custom-side page-layout-1">
                                <h3>
                                    Chapter 9 <span>Nomadic Lifestyle</span>
                                </h3>
                            </div>
                            <div class="bb-custom-side page-layout-1">
                                <p>Candy canes lollipop macaroon marshmallow gummi bears tiramisu. Dessert croissant cupcake candy canes. Bear claw faworki faworki lemon drops. Faworki marzipan sugar plum jelly-o marzipan cookie.</p>
                            </div>
                        </div>
                        <div class="bb-item">
                            <div class="bb-custom-side page-layout-2">
                                <div>
                                    <h3>Aa</h3>
                                    <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
                                </div>
                                <div>
                                    <h3>Bb</h3>
                                    <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
                                </div>
                            </div>
                            <div class="bb-custom-side page-layout-2">
                                <div>
                                    <h3>Cc</h3>
                                    <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
                                </div>
                                <div>
                                    <h3>Dd</h3>
                                    <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav>
                        <a href="#" class="bb-nav-prev">Previous</a>
                        <a href="#" class="bb-nav-next">Next</a>
                        <a href="#" class="bb-nav-close">Close</a>
                    </nav>
                </div>
            }


        }
        else
        {
            <div class="text-center text-white">
                کتابی جهت نمایش یافت نشد
            </div>
        }
    </div>
</div>