@using Radyn.Utility;
@using PersianNov.DataStructure.Tools;
@model PersianNov.DataStructure.Book
@{
    ViewData["Title"] = "حذف کتاب";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}


<div class="container-fluid">
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-danger text-center">
            @ViewBag.Message
        </div>
    }
    <form method="post" enctype="multipart/form-data" action="/Book/Edit">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">عنوان</label>
                <label type="text" class="form-control" asp-for="Name" name="Name"></label>

            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">نام ناشر </label>
                <label type="text" class="form-control" asp-for="PublisherName" name="PublisherName" id="PublisherName"></label>

            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">قیمت</label>
                <label type="number" class="form-control" name="Price" asp-for="Price" id="Price"></label>

            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">تخفیف (درصد)</label>
                <label type="number" class="form-control" asp-for="Discount" name="Discount" id="Discount"></label>

            </div>


        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom04">ژانر</label>
                <label class="custom-select" name="Janre" id="Janre">
                    @(Model.Janre.ToString().ToEnum<PersianNov.DataStructure.Tools.Enums.Janre>().GetDescription())
                </label>

            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">تعداد صفحات</label>
                <label type="number" class="form-control" name="PageCount" id="PageCount">@Model.PageCount</label>

            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="exampleFormControlTextarea1">موضوع </label>
                <div class="jumbotron" name="Subject" asp-for="Subject" id="Subject" rows="5">@Model.Subject</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="exampleFormControlTextarea1">چکیده </label>
                <div class="jumbotron" id="Abstract" asp-for="Abstract" name="Abstract" rows="5">@Model.Abstract</div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom04">تصویر کتاب</label>
                <img width="50" src="/File/ShowImage/@Model.Image" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom04">فایل PDF</label>
                <label class="form-control">
                    @if (Model.PDF != null)
                    {
                        <a asp-area="" asp-controller="File" asp-action="ShowImage" asp-route-id="@Model.PDF" target="_blank">
                            <img src="~/img/pdf-icon.png" width="25" />
                        </a>
                    }

                </label>

            </div>
        </div>



        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="FreeStydy">پایان یافته است ؟</label>
                <label class="form-control">
                    @(Model.Finished?"بله":"خیر")
                </label>

            </div>

            <div class="col-md-6 mb-3">
                <label for="FreeStydy">مطالعه برای عموم آزاد است ؟ </label>
                <label class="form-control">
                    @(Model.FreeStydy?"بله":"خیر")
                </label>
            </div>
        </div>


        <div class="form-row">
            <div class="col-md-6 mb-3">

                <label for="FreeStydy">نمایش داده شود ؟ </label>
                <label class="form-control">
                    @(Model.Enabled?"بله":"خیر")
                </label>
            </div>
        </div>



        <button class="btn btn-danger" type="submit">حذف</button>
        <a class="btn btn-warning" asp-action="Index">بازگشت</a>
    </form>

</div>


