@model PersianNov.DataStructure.BookPart
@{
    ViewData["Title"] = "ویرایش پارت";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

<div class="container-fluid">
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-danger text-center">
            @ViewBag.Message
        </div>
    }
    <form method="post" enctype="multipart/form-data" action="/BookPart/Edit">

        <input type="hidden" name="BookId" value="@Model.BookId" />
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="PublishDate" value="@Model.PublishDate" />

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">عنوان</label>
                <input type="text" class="form-control" name="Name" value="@Model.Name" />

            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">شماره پارت</label>
                <input type="number" class="form-control" name="PartNumber" value="@Model.PartNumber" />

            </div>
        </div>
       

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="VIP">VIP است ؟</label>
                <input type="radio" value="true" @(Model.VIP ? "checked" : "") name="VIP">بله
                <input type="radio" value="false" @(!Model.VIP ? "checked" : "") name="VIP">خیر
            </div>

            <div class="col-md-6 mb-3">
                <label for="Enabled">فعال است ؟ </label>
                <input type="radio" value="true" name="Enabled" @(Model.Enabled ? "checked" : "") />بله
                <input type="radio" value="false" name="Enabled" @(!Model.Enabled ? "checked" : "") />خیر

            </div>
        </div>


        <div class="form-row">
            <div class="col-md-12 mb-3">
                <textarea id="summernote" asp-for="Text" name="Text"></textarea>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">ثبت</button>
        <a class="btn btn-warning" asp-action="Index" asp-route-bookId="@Model.BookId">بازگشت</a>
    </form>

</div>
