@model IEnumerable<PersianNov.DataStructure.BookPart>
@{
    ViewData["Title"] = "پارت های کتاب";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">مدیریت پارت های کتاب</h1>
        @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>*@
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="mr-1 d-inline">
                <a asp-area="" asp-action="Create" asp-controller="BookPart" asp-route-bookId="@ViewBag.BookId" class="btn btn-primary text-white">ثبت پارت جدید</a>
            </div>
        </div>
        <div class="card-body">
            @if (Model.Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>شماره</th>
                                <th>نام پارت</th>
                                <th>تاریخ نشر</th>
                                <th>فعال است؟</th>
                                <th>VIP است؟</th>
                                <th>تایید شده؟</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>شماره</th>
                                <th>نام پارت</th>
                                <th>تاریخ نشر</th>
                                <th>فعال است؟</th>
                                <th>VIP است؟</th>
                                <th>تایید شده؟</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.PartNumber</td>
                                        <td>@item.Name</td>
                                        <td>@item.PublishDate</td>
                                        <td>@(item.Enabled ? "بله":"خیر")</td>
                                        <td>@(item.VIP.HasValue && item.VIP.Value ? "بله":"خیر")</td>
                                        <td>@(item.Approve.HasValue && item.Approve.Value ? "بله":"خیر")</td>

                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">جزئیات</a>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">ویرایش</a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">حذف</a>

                                        </td>
                                    </tr>
                                }
                            }



                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="text-center">
                    در حال حاضر برای کتاب مورد نظر هیچ پارتی ثبت نکرده اید
                </div>
            }

        </div>
    </div>

</div>
